*{
	  margin: 0;
	  padding: 0;
	  box-sizing:border-box;
	  font-family:'Poppins',sans-serif;
	  text-decoration:none;
  }
  
  html{
	  font-size:62.5%;
	  overflow-x:hidden;
	  scroll-behavior:smooth;
	  scroll-padding-top:6rem;
  }
*::selection{
	color:white ;
	background:black;
}
  

.btn{
	display:inline-block;
	padding:.8rem 3rem;
	border:.2rem solid tomato;
	color:tomato;
	cursor:pointer;
	font-size:1.7rem;
	border-radius:.5rem;
	position:relative;
	overflow:hidden;
	z-index:0;
	margin-top:1rem;
}

.btn::before{
	content:'';
	position:absolute;
	top:0; right:0;
	width:0%;
	height:100%;
	background:tomato;
	transition:.3s linear;
	z-index:-1;
}

.btn:hover::before{
	width:100%;
	left:0;
}

.btn:hover{
	color:white;
}





 nav{
	 height:80px;
	 background-color:lightsalmon;
 }
 

 
 nav ul{
	 float:right;
	 margin-right:25px;
 }
 
 nav ul li{
	 display:inline-block;
	 line-height:80px;
	 margin:0 8px;
 }
 
 nav ul li a{
	 position:relative;
	 color:white;
	 font-size:18px;
	 padding:5px 0;
	 text-transform:uppercase;
 }
 
 
 nav ul li a:before{
  position:absolute;
  content:"";
  background-color:white;
  height: 3px;
  width:100%;
  left:0;
  bottom:0;
  transform:scaleX(0);
  transition: transform 0.4s linear;
  transform-origin:right;
 }
 
 nav ul li a:hover:before{
	 transform:scaleX(1);
  transform-origin:left;
 }
 
 
 label #btn,
 label #cancel{
	 color:white;
	 font-size:40px;
	 float:right;
	 line-height:80px;
	 margin-right:40px;
	 cursor:pointer;
	 display:none;
	 
 }
 
 #check{
	 display:none;
 }
 
 @media (max-width:1118px){
	 nav img{
		 left:8%
	 }
 }
 @media (max-width:944px){
	
	 
	 nav img{
		 left:3%;
		 top:0;
		 width:130px;
	 }
	 
	 nav ul li a{
		 font-size:20px;
	 }
 }
 
  @media (max-width:860px){
 label #btn{
		 display:block;
	 }
	 ul{
		 position:fixed;
		 width:100%;
		 height:100vh;
		 background-color:lightsalmon;
		 top:80px;
		 left:100%;
		 text-align:center;
		 transition: all .5s;
		 z-index:100;
	 }
	  nav ul li {
		  display:block;
		  margin:50px 0;
		  line-height:30px;
	  }
	   nav ul li a{
		 font-size:20px;
	 }
	#check:checked~ul{
		 left:0;
	 }
	 #check:checked~label #btn{
		 display:none;
	 }
	 #check:checked~label #cancel{
		 display:block;
		 
	 }
	 
	.image{
		width:100%;
		
	}
  }




body {
  height:100vh;
  width: 100%;
  background-repeat :no-repeat;
  background-size: cover;
  background-position:center;
}
  
  
  
.done {
	border: dotted 4px orange;
	padding:10px 50px 0px 40px;
	margin:40px 0px 0px 40px;
	background-color:black;
	color:white;
	text-align:center;
}

/*making a hover text on image*/
 
.wrapper {
	width:100%;
	height:75rem;
	display:flex;
	justify-content:center;
	align-items:center;
}

.image{
	width:70%;
	position: relative;
	
}

img{
	width:100%;
	display: block;
	margin:auto;
}

.content{
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	background-color:rgba(0,0,0,0.6);
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction: column;
	opacity:0;
	transition: 0.5s;	
}


.content:hover{
	opacity:1;
}

.content h3{
	font-size:30px;
	color:#ffe100;
	text-align:center;
	margin-bottom:15px;
	
}


.content > *{
	transform:translateY(25px);
	transition: transform 0.5s;
	
}


.content:hover > *{
	transform:translateY(0px);
	
	
}
 

{
  
}




.footer{
	background:black;
	text-align:center;
}

.footer .share{
	display:flex;
	gap:1.5rem;
	justify-content:center;
	flex-wrap:wrap;
	
}


.footer .credit{
	padding:2rem 1rem;
	color:white;
	font-size:2rem;
	font-weight:normal;
}

.footer .credit span{
	color:tomato;
}

#scroll-top{
	position:fixed;
	top:-120%;
	right:2rem;
	padding:.5rem 1.5rem;
	font-size:4rem;
	color:var(--primary-color);
	background:tomato;
	border-radius:50%;
	z-index:1000;
	transition:0.4s linear;
}

#scroll-top.active{
	top:calc(100% - 12rem);
}














